{% load static %}
<html>
<head>
            <meta charset="UTF-8"/>
             <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>


            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            
            
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
           
</head>
<body>
<div class="container">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">    
            <ul class="navbar-nav mx-auto">
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-success my-1 mx-lg-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sucursales</a>
                <div class="dropdown-menu">
                
                <a class="dropdown-item" href='analisis_sucursal'>Faltantes</a>
                <a class="dropdown-item" href="{% url 'ratios' %}">Stock,venta y ratio </a>
                <a class="dropdown-item" href='{% url "mas_vendidos" %}'>Más Vendidos </a>
                 <a class="dropdown-item" href='{% url "validador_facturas" %}'>Validador de Facturas </a>
                 <a class="dropdown-item" href='{% url "facturas_all" %}'>Facturas </a>
                </div>
                </li>
               

               
              <li class="nav-item"><a  class="btn btn-outline-success my-1 mx-lg-1" href='{% url 'vista_stock' %}'>Stock</a></li>
               <li class="nav-item"><a class="btn btn-outline-success my-1 mx-lg-1" href="{% url 'guias_vs_facturas' %}">Guías vs Facturas</a></li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-success my-1 mx-lg-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ingreso DB</a>
                <div class="dropdown-menu">
                <a class="dropdown-item my-1 mx-lg-1" href="{% url 'tablaventas' %}">Tabla ventas</a>
                <a class="dropdown-item my-1 mx-lg-1" href='#'>Tabla Movimientos de Bodega</a>
                
                
                </div>
                </li>
                <li class="nav-item"><a class="btn btn-outline-success my-1 mx-lg-1" href='historico'>Histórico</a></li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-success my-1 mx-lg-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">España</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href='#'>Rendiciones</a>
                <a class="dropdown-item" href="{% url 'encuadre_espana_vista' %}">Encuadre</a>
                
                
                </div>
                </li>
               <li class="nav-item"><a class="btn btn-outline-success my-1 mx-lg-1" href="{% url 'index' %}">Home</a></li>
               <li class="nav-item"><a class="btn btn-outline-success my-1 mx-lg-1" href="{% url 'logout' %}">salir</a></li>
            </ul>
            </div>
            </nav>
            
{% block contenido %} {% endblock %}




<div class="row" style="height: 100px;"></div>
</div>
{% block metajs %}{% endblock %}
</body>
</html>