{% extends "SitioGa/prueba.html" %}
{% load staticfiles %}

{% block centro %}
<div class="col-lg-5">
<p class="lead">¿Dónde estamos?. </p> 
<p class="pl-2">En Chile, la prestigiosa guia de viajes Guia Azul se vende en las mejores cadenas de librerías a nivel nacional como lo son:<br>
<ul class="list-unstyled">
<ul>Feria Chilena del libro. </ul>
<ul>Antártica. </ul>
<ul>Contrapunto. </ul>
<ul>Mundilibros. </ul>
<ul>Buscalibre.</ul>
</ul>
<p class="pl-2">Les invitamos a conocernos y disfrute de todos los secretos de su viaje gracias a Guia Azul. </p>
<br>
<br>
</p>
</div>
{% endblock %}
