{% extends "SitioGa/prueba.html" %}
{% load staticfiles %}

{% block centro %}
<div class="col-lg-5">
<p class="lead">¿Quiénes somos?. </p> 

<p class="pl-2">Guia Azul es una editorial española que desde 1985 lleva publicando guias de viaje turístico-prácticas en idioma español
de distintos países a nivel mundial. Algunos de sus títulos no han sido publicados por otras editoriales siendo pionera, Guia Azul,
en implementarlos, como por ejemplo: Uzbejistán. <br>
La colección de títulos a nivel mundial sobrepasa los 200 destinos, muchos de ellos se han editado varias veces con las actualizaciones pertinentes
a la época de realización.
Guia de viajes está constantemente editándose y cada 2 años un nutrido grupo de redactores y editores da varias veces la vuelta al mundo buscando
información fresca y vigente para incluír en la cada edición nueva de Guia de viajes Guía Azul.
<br>
<br>
</p>
</div>
{% endblock %}
