{% extends "SitioGa/prueba.html" %}
{% load static %}



   
    {% block centro %}
    <div class="row">
     <div class="col-lg-6">
    {% for r in todos %}
    {{r.correo}} -- {{r.password}}<br>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        {{ formulario }}
        <input type="submit" value="Submit">
    </form>
    </div>
    

    <div class="col-lg-6">
    <h1>No eres cliente?, inscríbete acá:</h1>
    <form action="" method="post">
        {% csrf_token %}

        <div class="form-group" >
        {{ formulario_cliente_nuevo.as_table }}
        </div>
        
        
        <input type="submit" value="Submit">
    </form>

    </div>
    </div>


{% endblock %}
{% block derecho %}
{% endblock %}